<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILineService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/LineService/Service"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILineService"
          contract="ILineService" name="WSHttpBinding_ILineService">
        <identity>
          <servicePrincipalName value="host/DESKTOP-RMA9LPE" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
  
</configuration>